.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: #ddd;
  border-radius: 30px;
}
.inc {
  background-color: rgb(62, 62, 206);
}
.dec {
  background-color: red;
}
button {
  color: white;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 8px 10px;
  display: inline-block;
  margin: 0 30px;
  cursor: pointer;
}
.disabel {
  pointer-events: none;
}

.counter {
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 50%;
}

.counter__wrapper {
  max-width: 400px;
  margin: 5rem auto;
  text-align: center;
}
